<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h3>HELLO</h3>
    <p>Some Text</p>
    <form action="http://localhost:3000/comic" method="POST" enctype="multipart/form-data">
        <input type="file" name="hero" />
        <input type="submit" value="Upload File" />
    </form>
</body>

</html>